body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.header{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.logo{
    width: 5%;
    max-width: 3em;
}

.links{
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 4em;
    display: inline-block;
    font-weight: 600;
    margin-top: -1.7em;
    vertical-align: top;
}

.sign-up{
    background: #1FB622;
    box-shadow: 0px 15px 20px rgba(47, 47, 47, 0.20);
    border-radius: 1em;
    border: none;
    margin-top: -4em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: white;
    margin-right: 1em;
    width: 7em;
    height: 3.5em;
    float: right;
}

.hero{
    margin-top: 3em;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    margin-left: 4em;
    background-color: black;
    height: 80vh;
    margin-right: 4em;
}

.wap{
    color: #ADF0D1;
    padding-top: 8em;
    font-weight: 600;
    padding-left: 3em;
}

.aab-ywu{
    margin-left: 1.7em;
    font-weight: 400;
    font-size: 1.7em;
}

.woir{
    margin-left: 3em;
    line-height: 1.6em;
}

.awd{
    float: left;
    margin-left: 3.5em;
    margin-top: 0;
    width: 12em;
    display: block;
}

.mockupp{
  height: 100%;
  z-index: -1;
  display: inline;
  float: right;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 3em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 3em;
    background: #4f4f4f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
    border-radius: 3em;
  }
.supportedby{
  background-color: black;
  
    padding: 3em 3em 3em 3em;
    margin-left: 4em;
    margin-right: 4em;
}
  .sbh{
    margin-left: 3em;
    margin-right: 3em;
    display: inline;
    color: white;
  }

  .feature{
      color: white;
      margin-right: 4em;
      display: inline-block;
      margin-left: 4em;
      background:black;
      padding: 3em 2em 5em 2em;
      border-radius: 1em;
      width: 87%;
  }

  .ft-txt{
    font-weight: 400;
    line-height: 1.4em;
  }

  .iphone12{
    float: right;
    display: inline;
    height: 300%;
    max-width: 20em;
  }

  
.hawd-shesh{
  width: 25%;
  margin-left: 4em;
  display: inline-block;
  text-align: center;
}

.about-us{
  background: black;
}

.hawd-img{
  max-width: 20em;
  pointer-events: none;
}

.testimonials{
  width: 30%;
  margin-right: 4em;
  background-color: #1FB622;
  height: 30em;
  border-radius: 1em;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.test-img{
  max-width: 7em;
  margin-top: 2em;
}

.uhm{
  max-width: 7em;
}

.test-p{
  margin-right: 2em;
  color: white;
  font-weight: 1.7em;
  font-weight: 500;
  margin-top: 5em;
  margin-left: 2em;
}

.squad{
  margin-left: 4em;
  background-color: #1FB622;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  margin-right: 4em;
  padding: 2em 2em 2em 2em;
  color: white;
  border-radius: 1em;
  height: 23em;
}

.awdawd{
  margin-left: 2em;
  margin-top: 3em;
}

.suscrib{
  color: black;
  margin-left: 0.8em;
  margin-top: -0.3em;
  font-size: 2.3em;
  font-weight: 600;
}

#lotr{
    margin-left: 1.8em;
    line-height: 0.9em;
}

.email{
  width: 35em;
  border-radius: 0.7em;
  height: 5em;
  border: none;
  margin-top: 1em;
  font-family: 'Red Hat Display', sans-serif;
  padding-left: 2em;
  font-weight: 700;
  color: black;
  margin-left: 2em;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.sarscrib{
  background-color: black;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  padding: 1.1em 2em 1.1em 2em;
  border-radius: 0.5em;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: 0.1em;
  margin-left: -13em;
  font-weight: 700;
}

canvas {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.ioewj{
  display: inline;
  position: absolute;
  margin-top: -32em;
  max-width: 35em;
  right: 15em;
}

.ft-links{
  display: inline-block ;
  vertical-align: middle;
}

.ft-link{
  color: black;
  text-decoration: none;
  display: inline;
  font-weight: 600;
  margin-left: 4em;
}

a{
  
  color: black;
  text-decoration: none;
  display: inline;
  font-weight: 600;
  margin-left: 4em;
}
footer{
  margin-left: 4em;
  margin-right: 4em;
}

.dr{
  max-width: 2em;
  margin-right: 1em;
  display: inline;
  vertical-align: middle;
  float: right;
}

.den{
  display: inline;
  vertical-align: middle;
  max-width: 6em;
  margin-right: 4em;
  float: right;
}

@media screen and (max-width:1032px) {
  .mm{
    display: none;
  }
}

@media screen and (max-width: 1264px) {
   .hawd-shesh{
    width: 100% !important;
    display: block  ;
    margin-left: 0;
   }
}

@media screen and (max-width:989px) {
   .testimonials{
    width: 70%;
    display: block;
    position: relative;
    margin-right: 0;
    margin-bottom: 2em;
    height: 30em;
   }
}

@media screen and (max-width:960px) {
  .hero{
    height: 100%;
    padding-bottom: 2em;
  }
  .mockupp{
    width: 100%;
    margin-bottom: 3em;
    display:block;
  }
  .woir{
    margin-right: 2em;
  }
}

@media screen and (max-width:700px) {
  .logo{
    width: 10%;
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }
  .links{
    display: inline;
    margin-top: 1em;
  }

  .sign-up{
    margin-top: -5.5em;
  }
  .awd{
    margin-top: 0;
  }
}

*{
  scroll-behavior: smooth;
}

@media screen and (max-width:1100px) {
  .den{
    display: block;
    margin-top: 2em;
    float: auto;
  }
  .sbh{
    width: 100%;
    display: block;
  }
  .supportedby{
    height: 15em;
  }
}

@media screen and (max-width:700px) {
  .den{
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .supportedby{
    height: 20em;
  }

  .sbh{
    margin-left: 0;
  }
}

@media screen and (max-width:836px) {
  .ft-txt{
    width: 100%;
    display: block; 
  }
  .ctn{
    width: 70% !important;
    display: block;
  }
}

@media screen and (max-width:1237px) {
  .ioewj{
    right: 5em;
  }
}
@media screen and (max-width:1104px) {
  .ioewj{
    right: 2em;
  }
}
@media screen and (max-width:1076px) {
  .ioewj{
    display: none;
 
  }
}

@media screen and (max-width:677px) {
  .squad{
    padding-bottom: 10em;
  }
  .email{
    width: 20em;
  }
  .sarscrib{
    margin-left: 2em;
    margin-top: 2em;
  }
}

/* Preloader */

.preloader{
  font-size: 7em;
  text-align: center;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin:auto;
  opacity: 1;
  background: white;
}
.preloaderimg{
  margin-top: 17%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 2em;
  animation: preloader 1.5s infinite;
}
@keyframes preloader {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}